.delete {
  background: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  float: right;
}

/* will be used in dynamic classes using the [ngClass] directive */
.goal {
  background: #005e2a;
  padding: 15px;
  border: 1px solid #fff;
  color: #fff;
}
.is-complete {
  text-decoration: line-through;
}
