.delete {
  background: #fff;
  color: #ff0000;
  padding: 5px 9px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  float: right;
}

/* will be used in dynamic classes using the [ngClass] directive */
.goal {
  background: #810000;
  padding: 15px;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.is-complete {
  text-decoration: line-through;
}
